html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	font-size: 36px;
}

section {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#container {
	display: none;
}

#container-people {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 20px;
	position: relative;
}

.person-container {
	text-align: center;
	overflow: hidden;
	margin-right: 10px;
}

#bon-retour {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	display: none;
}

.caption {
	font-size: 26px;
	color: #ccc;
	font-style: italic;
}

img {
	background-color: #fff;
	height: 400px;
	object-fit: cover;
	margin-bottom: 6px;
	margin-top: 10px;
	width: 100%;
}

p {
	margin: 0;
}

button {
	background-color: white;
	color: black;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}

#spinner {
	margin: 50px 150px;
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.footer {
	font-size: 14px;
	font-weight: 300;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #000000;
	padding: 10px;
	color: white;
}

.footer a {
	color: rgb(103, 174, 255);
	text-decoration: none;
}

@media only screen and (max-width: 800px) {
	html,
	body {
		font-size: 16px;
		height: auto;
	}

	section {
		display: block;
		padding: 20px 0 40px 0;
	}

	#spinner {
		margin: 50px auto;
		width: 80px;
		height: 80px;
	}

	#container {
		justify-content: center;
	}

	#container-people {
		flex-direction: column;
		align-items: center;
		margin: 0 20px;
	}
	.person-container {
		margin-right: 0;
		margin-bottom: 20px;
	}
	img {
		height: 200px;
	}

	#bon-retour {
		margin-top: 10px;
	}

	button {
		display: block;
		margin: 10px auto;
		width: 110px;
	}

	.footer {
		font-size: 12px;
	}
}
